/*------------------- Estilo da barra de navegação ---------------------*/
.navbar-nav > .nav-item > .nav-link, .navbar-nav > .navbar-nav > .nav-link {
    color: blueviolet;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    transition: 500ms;
}
.navbar-nav > .nav-item > .nav-link:hover, .navbar-nav > .navbar-nav > .nav-link:hover {
    color: rgb(189, 43, 226);
    transform: scale(1.1);
}

main {
    background: #fafafa;
}

/*------------------- Estilo da sessão doces --------------------*/

.doces {
    width: 92%;
    margin: 0 auto;
    padding: 10px 0 15px;
}
.doces > .main-carousel {
    width: 70%;
    margin: 0 auto;
}
.doces > .carousel > .carousel-inner > .carousel-item > img {
    width: 100%;
    height: 16rem;
}
.titulo-principal {
    color: rgb(37, 34, 34);
    padding-left: 2%;
    font-weight: bold;
}
.apresenta-produtos {
    color: rgb(24, 21, 21);
    font-weight: bold;
    text-align: center;
    padding: 10px 0;
}

/*------------------- Estilo sessão utilitários ------------------------*/
.utilitarios > .carousel {
    float: left;
}
.descreve-utilitarios {
    display: inline-block;
    padding: 0 0 0 1rem;
}
.utilitarios {
    width: 100%;
    padding: 10px 0 20px;
}
.utilitarios > .carousel > .carousel-inner > .carousel-item > img {
    width: 100%;
    height: 8rem;
}
.utilitarios > .main-carousel {
    width: 20%;
    margin: 0 0 0 1rem;
}
.descreve-utilitarios > p {
    font-size: 20px;
    color: rgb(66, 57, 57);
    font-weight: bold;
}

/*------------------- Estilo do footer ---------------------------*/
.rodape {
    padding: 10px 20% 10px 0;
    background:linear-gradient(blueviolet, rgb(189, 43, 226));
}

.mb-3 > .input-format {
    color: rgb(0, 153, 255);
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.area-contato > .btn {
    background: rgb(80, 62, 199);
    border-color: rgb(80, 62, 199);
    padding: 8px 40px;
    transition: 1.2s;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.area-contato > .btn-primary:hover {
    background: slateblue;
    border-color: slateblue;
    transform: scale(1.15);
}
.area-contato {
    color: aliceblue;
    font-size: 20px;
    width: 92%;
    margin: 0 auto;
}
textarea {
    padding: 0 2%;
    width: 100%;
}